.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.yarn/
.eslintrc.js
yarn.lock
.pnp.loader.mjs
.pnp.cjs
package.json
yarn.lock
vue.config.js
