.van-tabbar {
    height: 105px;
    /* Adjust the height as needed */
    background-color: #f0f0f0;
}

.van-tabbar-item {
    font-size: 23px;
    /* Adjust text size */
}

.van-icon {
    font-size: 53px;
    /* Adjust icon size */
}

.active {
    color: rgb(17, 167, 226);
    /* Define active text color */
}